<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111674101934-9knk52b5nmibb97chumnk9b9ifmhdbhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111674101934-9knk52b5nmibb97chumnk9b9ifmhdbhm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>111674101934-mggomiigtlccm4l3bd61jmdf899rb0sm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIwla7p1Y17akqBIYc7YXh5bFbxKLNx8k</string>
	<key>GCM_SENDER_ID</key>
	<string>111674101934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>taipei.hcc.timetrackerfluttercourse</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-cou-91408</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-cou-91408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111674101934:ios:f3c244e88d135117851d3f</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-flutter-cou-91408.firebaseio.com</string>
</dict>
</plist>